header
{
    background-color: red;
    padding: 20px;
    text-align: center;
    z-index: 1;
    top: 0px;
    left: 0px;
}
header h1
{
    color: white;
    border: 8px solid white;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner img
{
    min-width: 100%;

}
.banner .welcome{
    background-color: orange;
    position: absolute;
    color: white;
    padding: 30px;
    left: 0;
    top: 200px;
}
.banner h2
{
    font-size: 80px;

}
.banner h2 span
{
    font-size: 1.3em;

}
nav
{
    background-color: white;
    padding: 20px;
}
nav ul
{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;    
}
nav li a
{
    text-decoration: none;
    color: grey;

}
nav li a.join
{
    color: red;
}
nav li
{
    width:25% ;
    display: inline-block;
    font-size: 25px;

}